html {
    padding: 20px 40px;
}
body {
 background-image: url("img/faded-office.png");
 background-size: cover;
 font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 45px;
    padding-top: 30px;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

span {
    border-bottom: 5px solid #0ea5e9;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    background-color: #0ea5e9;
    color: white;
    border: 0;
    padding: 15px 30px;
}
.hero {
   display: block;
  margin: 40px 0px;
   width: 300px;
}

